


<nav class="fixed top-0 z-40 w-full bg-white border-gray-200 dark:bg-gray-900">
  <div class="flex items-center justify-between max-w-screen-xl p-2 mx-auto">
    <a routerLink="home" class="flex items-center space-x-3 rtl:space-x-reverse">

        <span class="self-center text-2xl font-bold whitespace-nowrap text-main">Linked Posted</span>
    </a>

    <div class="w-full md:block md:w-auto" id="navbar-default">
      <ul class="flex items-end justify-end border border-gray-100 rounded-lg items-centerfont-medium md:p-0 bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li class="cursor-pointer ">
@if (image()) {
          <img routerLink="/profile"  [src]="image()" class="w-12 h-12 rounded-full" alt="" />}
        </li>
<li>

  <button (click)="logOut()" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">logOut</button>

</li>
      </ul>
    </div>
  </div>
</nav>

