
<section class="mt-10">

  <div class="grid sm:grid-col-1 md:grid-cols-[30%_minmax(0,0.5fr)]">

    <div class="mt-10 md:ps-7 ">


<div class="w-full max-w-sm py-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

  <div class="flex flex-col items-center pb-10">
      <img class="w-40 h-40 mb-3 rounded-full shadow-lg" [src]="userForm.photo" alt="Bonnie image"/>
      <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{userForm.name}}</h5>
      <h6>{{userForm.email}}</h6>
      <span class="text-sm text-gray-500 dark:text-gray-400">{{userForm.dateOfBirth}}</span>
      <div class="flex mt-4 md:mt-6">
          <p #updatePhoto class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-blue-600 rounded-lg cursor-pointer ">changephoto <span class="px-2"><i class="fa-solid fa-camera"></i> </span></p>
          <a routerLink="/change" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg ms-2 focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">changePassword</a>
      </div>
  </div>
</div>

@defer (on interaction(updatePhoto)) {


  <div class="flex items-center justify-center ">
    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 ">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
        </div>
        <input (change)="changeIamge($event)"  id="dropzone-file" type="file" class="hidden" />
    </label>
</div>
<button (click)="updateProfile()" type="button" class="text-white w-full bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Updata</button>

}

    </div>




    <div  class="flex flex-col items-center justify-center gap-4 mt-10">





    @for (post of myPostes(); track post._id) {

<div class="relative flex flex-col w-full p-3 bg-white rounded-md gap-y-4">
  <div (click)="deletePost(post._id)" class="absolute cursor-pointer top-4 right-4">
  <i  class="fa-solid fa-trash" style="color: #ff1b0a;"></i></div>

        <div class="flex items-center gap-3">
          <img class="w-10 h-10 rounded-full"[src]="post.user.photo" alt="profile img">
          <div>
          <h3 class="font-bold">{{post.user.name}}</h3>
          <span class="font-light text-gray-400">{{post.createdAt |date}}</span></div>
        </div>
        <p>{{post.body}}</p>
      <img [src]="post.image" class="w-full" alt="">


      <button #showComment class="self-center text-blue-600">ShowComments</button>

      @defer (on interaction(showComment)) {
        <app-comments [postID]="post._id"></app-comments>

      }
      @loading {
        <h2 class="text-main">loading....</h2>
      }


    </div>
    }
    @empty {
      <p class="text-lg "> No Posts Yet</p>
    }
  </div>
  </div>


</section>
